.chatbot-chat-input-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-chat-input-container input {
  width: 82%;
  margin: auto;
  border: 1px solid darkorchid;
  color: darkviolet;
  background: lightblue;
  height: 35px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 25px;
}

.chatbot-chat-input-container ::placeholder {
  font-family: MuseoModerno;
}

.chatbot-chat-input-container button {
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid blue;
  background-image: url("../../assets/send-button-png-6.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
}
